@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* NAVBAR */
.nav-link{
    color:#4e4644;
    text-decoration: none;
}

.nav-link:hover {
    color: black;
    font-weight: 500;
}

.navbar {
    padding-left: 2%;
    z-index: 98;
    margin-bottom: 5%;
}

.cart {
    padding-right: 10%;
}

/* LOGIN PAGE */
.login-page {
    background-image: url(../images/carousel/IMG_4450.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* REGISTRATION PAGE*/
.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}

h4, p {
    z-index: 5;
}

.cascading-right {
    margin-right: -50px;
}

@media (max-width: 991.98px) {
    .cascading-right {
      margin-right: 0;
    }
}


/* CHECKOUT PAGE */
body {
    margin-top:20px;
    background-image: linear-gradient(white, #eee);
}

.ui-w-40 {
    width: 10rem;
    height: auto;
}

.ui-product-color {
    display: inline-block;
    overflow: hidden;
    margin: .144em;
    width: .875rem;
    height: .875rem;
    border-radius: 10rem;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
    vertical-align: middle;
}
