@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* NAVBAR */
.nav-link{
    color:#4e4644;
    text-decoration: none;
}

.nav-link:hover {
    color: black;
    font-weight: 500;
}

.navbar {
    padding-left: 2%;
    z-index: 98;
    background-image: linear-gradient(#fddcd1, white);
    margin-bottom: 5%;
}

.cart {
    padding-right: 10%;
}

/* LOGIN PAGE */
.bg-img {
    background-image: url("../images/carousel/IMG_4576.jpg");
}
/* REGISTRATION PAGE*/
.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}

h4, p {
    z-index: 5;
}